@page "/change-password"
@using DeviceManager.Models
@using DeviceManager.Services
@inherits Change_Password_Base
@inject OEMInformationService oem
@inject ThemeService ThemeService


<div class="settings">
    @if (support != null)
    {
        if (ThemeService.CurrentTheme == "system")
        {
            AppTheme systemTheme = Application.Current!.RequestedTheme;
            ThemeService.CurrentTheme = (systemTheme == AppTheme.Dark) ? "dark" : "light";
            if (ThemeService.CurrentTheme == "dark")
            {
                <h1>
                    <span>

                        <img src="/Images/logo2.jpg" width="60" height="40" alt="logo" />
                    </span> @support.displayName
                </h1>
            }
            else
            {
                <h1>
                    <span>

                        <img src="/Images/logo.jpg" width="60" height="40" alt="logo" />
                    </span> @support.displayName
                </h1>
            }
        }
        else if (ThemeService.CurrentTheme == "dark")
        {
            <h1>
                <span>

                    <img src="/Images/logo.jpg" width="60" height="40" alt="logo" />
                </span> @support.displayName
            </h1>
        }
        else
        {
            <h1>
                <span>

                    <img src="/Images/logo2.jpg" width="60" height="40" alt="logo" />
                </span> @support.displayName
            </h1>
        }
    }
    <div class="settings grid">
        <h2>Change Password</h2>


        <div class="flex-column">
        </div>
        <EditForm Model="@this" OnValidSubmit="OnSubmitClicked">
            <DataAnnotationsValidator />
          

@*             <div class="form-group">
                <label>Old Password</label>
                <div class="input-group" id="show_hide_password">
                    <input class="form-control" type="password">
                    <div class="input-group-addon eye-button">
                        <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div> *@
            <div class="form-group">
                <label>New Password</label>
                <div class="input-group" id="show_hide_password1">
                    <input class="form-control" type="password" @bind="NewPassword">
                    <div class="input-group-addon eye-button">
                        <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="validation-message">
                    <ValidationMessage For="@(() => NewPassword)" />
                </div>

            </div>
            <div class="form-group">
                <label>Re-Enter Password</label>
                <div class="input-group" id="show_hide_password2">
                    <input class="form-control" type="password" @bind="ConfirmPassword">
                    <div class="input-group-addon eye-button">
                        <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="validation-message">
                    <ValidationMessage For="@(() => ConfirmPassword)" />
                </div>
            </div>

            <div class="button-group-form">
                <button type="button" class="btn btn-outline-secondary" @onclick="BackCommand.Execute">Back</button>
                <div>
                    <button type="button" class="btn btn-outline-secondary ml-4" @onclick="DiscardCommand.Execute">Discard</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </EditForm>

    </div>


    <div class="support-info">
        <p>SUPPORT HOURS:<span class="primary-color-text"> @oem.GetOEMSupportHours</span></p>
        <p>TECH SUPPORT:<span class="primary-color-text"> @oem.GetOEMSupportPhone</span></p>
        <p>SUPPORT PORTAL:<span class="primary-color-text"> @oem.GetOEMSupportURL</span></p>
    </div>

</div>
<script>
    $(document).ready(function () {
        $("#show_hide_password a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password input').attr("type") == "text") {
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass("fa-eye-slash");
                $('#show_hide_password i').removeClass("fa-eye");
            } else if ($('#show_hide_password input').attr("type") == "password") {
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass("fa-eye-slash");
                $('#show_hide_password i').addClass("fa-eye");
            }
        });
    });
    $(document).ready(function () {
        $("#show_hide_password2 a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password2 input').attr("type") == "text") {
                $('#show_hide_password2 input').attr('type', 'password');
                $('#show_hide_password2 i').addClass("fa-eye-slash");
                $('#show_hide_password2 i').removeClass("fa-eye");
            } else if ($('#show_hide_password2 input').attr("type") == "password") {
                $('#show_hide_password2 input').attr('type', 'text');
                $('#show_hide_password2 i').removeClass("fa-eye-slash");
                $('#show_hide_password2 i').addClass("fa-eye");
            }
        });
    });
    $(document).ready(function () {
        $("#show_hide_password1 a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password1 input').attr("type") == "text") {
                $('#show_hide_password1 input').attr('type', 'password');
                $('#show_hide_password1 i').addClass("fa-eye-slash");
                $('#show_hide_password1 i').removeClass("fa-eye");
            } else if ($('#show_hide_password1 input').attr("type") == "password") {
                $('#show_hide_password1 input').attr('type', 'text');
                $('#show_hide_password1 i').removeClass("fa-eye-slash");
                $('#show_hide_password1 i').addClass("fa-eye");
            }
        });
    });
</script>
